@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'HCR Dotum';

}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    vertical-align: top;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1em;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}


/* 초기화 */